
/vendor/*
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
.directory
*~
*.swp
*.swo
*.sublime-*
*.stTheme.cache
*.tmlanguage.cache
*.tmPreferences.cache
.settings/*
.idea/*
nbproject/*
.vscode
.sass-cache
.sass-cache/
/composer.phar
/.phpcs-cache
/.phpunit.result.cache

/.idea/
/.bash_history
/.cache/
/.composer/
/.config/
/.local/
/.pdepend/

/dev/php/xdebug.log
/dev/php/.phpcs-cache
